.footer_content {
	min-height: 25vh;
	background-color: #000000;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5% 5%;
	font-family: sans-serif;
}

.footer_link_section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
}

.footer_link_column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 250px;
	width: 100%;
	padding-bottom: 20px;
}

.footer_link_column_social {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 150px;
	width: 100%;
}

.footer_link_header {
	color: rgba(255, 255, 255, 0.4);
	font-weight: 600;
	font-size: 15px;
	margin: 15px 0;
	width: 100%;
}

.footer_link {
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.5s ease;
}

.footer_link:hover {
	opacity: 0.5;
}

.footer_link_social_icons {
	width: 100%;
}

.footer_link_img {
	width: 17px;
	padding: 5px;
}

.footer_content hr {
	color: rgba(0, 0, 0, 0.2);
	width: 100%;
	margin: 30px 0;
	border: 0 0 1px 0;
	border-color: rgba(255, 255, 255, 0.15);
}

.footer_copyright_text {
	font-weight: 400;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.4);
	text-align: left;
	width: 100%;
	line-height: 26px;
}
