.header_content {
	position: fixed;
	height: 50px;
	width: 100%;
	line-height: 50px;
	background-color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
	font-family: sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 999; // max z-index value
}

.header_content a {
	text-decoration: none;
	color: #000000;
}

.header_logo {
	display: flex;
	flex-direction: row;
	justify-content: left;
	transition: all 0.5s ease;
	padding: 0 5%;
}

.header_logo:hover {
	opacity: 0.5;
}

.header_logo_img {
	height: 50px;
	width: 20px;
}

.header_nav {
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	padding: 0 5%;
}

.header_nav_link {
	margin-left: 30px;
	transition: all 0.5s ease;
	font-size: 13px;
	font-weight: 600;
}

.header_nav_link_download {
	margin-left: 0;
}

.header_nav_link:hover {
	opacity: 0.5;
}

.header_nav_link_img {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header_nav_img {
	width: 18px;
}

.landing_section_one {
	min-height: 100vh;
	background-color: #fb8c00;
	background-image: url("../images/circuit_board_background.svg");
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-family: sans-serif;
	text-align: center;
	padding: 50px 5% 5% 5%;
}

.landing_section_one_tagline {
	font-size: 65px;
	font-weight: 600;
	margin-bottom: 30px;
	margin-top: 30px;
	max-width: 680px;
}

.landing_section_one_sub_tagline {
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 60px;
	color: rgba(255, 255, 255, 0.75);
	max-width: 600px;
	word-break: keep-all;
}

.landing_section_one_button_download {
	padding: 0 25px;
	border-radius: 8px;
	background-color: #ffffff;
	color: #fb8c00;
	margin-bottom: 90px;
	transition: all 0.5s ease;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.landing_section_one_button_download:hover {
	background-color: #ffecb3;
}

.landing_section_one_button_download_img {
	width: 20px;
}

.landing_section_one_button_download_text {
	margin-left: 15px;
	line-height: 55px;
	font-size: 13px;
	font-weight: 600;
}

.landing_section_one_button_other {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	text-decoration: none;
	transition: all 0.5s ease;
}

.landing_section_one_button_other:hover {
	opacity: 0.75;
}

.landing_section_one_button_other_text {
	color: #ffffff;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 15px;
}

.landing_section_one_button_other_img {
	width: 20px;
}

.landing_section_two {
	min-height: 100vh;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5% 5%;
	font-family: sans-serif;
}

.landing_section_two_content {
	width: 100%;
	max-width: 680px;
}

.landing_section_two_tagline {
	text-align: left;
	font-weight: 600;
	font-size: 32px;
}

.landing_section_two_sub_tagline {
	text-align: left;
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 30px;
	color: rgba(0, 0, 0, 0.75);
}

.landing_section_two_table {
	text-align: left;
	width: 100%;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	font-size: 13px;
	font-weight: 600;
}

.landing_section_two_table td {
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-collapse: collapse;
	border-spacing: 0;
}

.landing_section_two_table .landing_section_two_table_data_empty {
	border: none;
}

.landing_section_two_table .landing_section_two_table_data_download_highlight {
	border: 1px solid #fb8c00;
}

.landing_section_two_table
	.landing_section_two_table_data_download_highlight
	img {
	opacity: 1;
}

.landing_section_two_table
	.landing_section_two_table_data_download_highlight_top {
	border-bottom: none;
}

.landing_section_two_table
	.landing_section_two_table_data_download_highlight_left {
	border-right: none;
}

.landing_section_two_table td:nth-child(2) {
	text-align: center;
}

.landing_section_two_table td i {
	font-weight: 400;
	color: rgba(0, 0, 0, 0.4);
}

.landing_section_two_table_data_extension {
	font-weight: 400;
	color: rgba(0, 0, 0, 0.75);
}

.landing_section_two_table_data_wrapper {
	padding: 18px 32px;
}

.landing_section_two_table_data_img {
	opacity: 0.75;
	transition: all 0.5s ease;
}

.landing_section_two_table td:hover img {
	opacity: 1;
}

.landing_section_three {
	min-height: 100vh;
	background-color: #f5f8fa;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10% 10%;
	font-family: sans-serif;
}

.landing_section_three_content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.landing_section_three_content_item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
	margin: 15px;
	max-width: 220px;
}

.landing_section_three_content_img {
	width: 180px;
	border-radius: 100%;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
}

.landing_section_three_content_header_text {
	font-size: 24px;
	font-weight: 600;
	margin: 40px 0 20px 0;
	text-align: center;
	width: 100%;
}

.landing_section_three_content_body_text {
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	text-align: center;
	height: 170px;
	color: rgba(0, 0, 0, 0.75);
}

.landing_section_three_content_body_text a {
	text-decoration: none;
}

.landing_section_four {
	min-height: 100vh;
	background-color: #000000;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10% 10%;
	font-family: sans-serif;
}

.landing_section_four_content_item {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap-reverse;
	padding: 15px;
	margin: 15px;
}

.landing_section_four_content_item_alt {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 15px;
	margin: 15px;
}

.landing_section_four_content_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 500px;
}

.landing_section_four_content_text_header {
	width: 100%;
	text-align: left;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
}

.landing_section_four_content_text_body {
	width: 100%;
	text-align: left;
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
	color: rgba(255, 255, 255, 0.75);
}

.landing_section_four_content_img {
	width: 200px;
	padding: 30px;
}

.landing_section_five {
	min-height: 50vh;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5% 5%;
	font-family: sans-serif;
}

.landing_section_five_tagline {
	text-align: left;
	font-weight: 600;
	font-size: 32px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.landing_section_five_sub_tagline {
	text-align: left;
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 60px;
	color: rgba(0, 0, 0, 0.75);
}

.landing_section_five_button_download {
	padding: 0 25px;
	border-radius: 8px;
	background-color: #ffffff;
	color: #000000;
	border: 2px solid #000000;
	transition: all 0.5s ease;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin-bottom: 30px;
}

.landing_section_five_button_download:hover {
	background-color: #000000;
	color: #ffffff;

	img {
		filter: invert(1);
	}
}

.landing_section_five_button_download_img {
	width: 20px;
	transition: all 0.5s ease;
}

.landing_section_five_button_download_text {
	margin-left: 15px;
	line-height: 55px;
	font-size: 13px;
	font-weight: 600;
}

.footer_content {
	min-height: 25vh;
	background-color: #000000;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5% 5%;
	font-family: sans-serif;
}

.footer_link_section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
}

.footer_link_column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 250px;
	width: 100%;
	padding-bottom: 20px;
}

.footer_link_column_social {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 150px;
	width: 100%;
}

.footer_link_header {
	color: rgba(255, 255, 255, 0.4);
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 15px;
	width: 100%;
}

.footer_link {
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.5s ease;
}

.footer_link:hover {
	opacity: 0.5;
}

.footer_link_social_icons {
	width: 100%;
}

.footer_link_img {
	width: 17px;
	padding: 5px;
}

.footer_content hr {
	color: rgba(0, 0, 0, 0.2);
	width: 100%;
	margin: 30px 0;
	border: 0 0 1px 0;
}

.footer_copyright_text {
	font-weight: 400;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.4);
	text-align: left;
	width: 100%;
	line-height: 26px;
}
